<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class = 'brand-name'>BRAND NAME</li>
                <li>About Us</li>
            </ul>
            <ul class = 'nav-right'>
                <% if (locals.session.loggedin) { %>
                    <li><%= locals.session.userName %> </li>
                    <a href="/logout"><li>Log Out</li></a>
                <% } else { %>
                    <a href="/signup"><li>Sign Up</li></a>
                    <a href="/login"><li>Login</li></a>
                <% } %> 
            </ul>
        </nav>
    </header>
    <!-- <div></div>
    <form class = "sign-up-form" action="/signup" method="POST">
        <h1>Sign Up</h1>
        <input name = "user[userName]" type="text" placeholder="Enter username">
        <input name = "user[password]" type="password" placeholder="Enter password">
        <input type="submit">
    </form> -->
    <main>
        <section id = "searchSection">
            <h1>Search</h1>
            <form action="/searches">
                <input id = "search" name = "search" type="text" autocomplete="off">
            <ul id = "searchMenu"></ul>
        </form>
        </section>
    </main>
    <footer>
        <p>footer</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./app.js"></script>
</body>
</html>