html,body{
    height:100%;
    display:flex;
    flex-direction: column;
}
header, footer{
    min-height:7vh;
    max-height: 7vh;
    background:gray;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
header>nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header>nav>ul{
    display: inline-flex;
    align-items: center;
    height:100%;
}
header>nav>ul>*{
    padding: 0.75vw 1.5vw;
    font-size: 1.2vw;
    margin: 0 0.25vw;
    cursor: pointer;
}
body>div{
    width:0;
    height:0;
}
.brand-name~li:hover, .nav-right>*:hover{
    background:white;
}
.brand-name{
    font-size:2vw;
}
main{
    position: relative;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#searchSection{
    position: relative;
    top:-7vh;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    width: 40vw;
}
#searchSection>h1{
    font-size:7vw;
}

form{
    position: relative;
    width:100%;
}
form>input{
    height: 5vh;
    border-radius: 2vw;
    font-size: 2vw;
    width: 100%;
    padding: 2% 3%;
    box-sizing: border-box;
}
form>input:focus{
    outline: none;
}
#searchMenu{
    position: absolute;
    display:flex;
    flex-direction: column;
    top:5vh;
    left:0;
    width:100%;
    height:20vh;
    border-radius: 2vw;
    background-color: whitesmoke;
    overflow-y: scroll;
}
#searchMenu>li{
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 2vw;
    padding: 2% 3%;
}

#searchMenu>li>img{
    width:10%;
    max-height:100%;
}
.cover{
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    opacity: 0.5;
    width:100%;
    height:100%;
    z-index:10;
}
.sign-up-form{
    display:flex;
    flex-direction: column;
    padding:2vw;
    z-index:20;
}
a{
    text-decoration: none;
    color:black;
}